.row
  .columns.small-12.large-5
    h2.strong Sign In

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true

      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off"

      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me

      .actions
        = f.submit "Log in", class: "button"

    = render "devise/shared/links"
