<canvas id="net-worth-chart" width="400" height="100"></canvas>

<script>
  $(document).ready(function() {
    var ctx = $("#net-worth-chart");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: <%= raw @net_worth.months.map{|x| "#{l(x.to_date, format: :short)}"} %>,
        datasets: [{
          label: 'Net Worth',
          data: <%= raw @net_worth.amounts %>,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: { beginAtZero: false }
          }]
        }
      }
    });
  });
</script>
