footer.row.app-footer
  .columns.small-12.grey
    .text-center 
      h6.inline-block.spacer-right-3 = ENV['APP_NAME']
      = link_to 'Privacy Policy', pages_path('privacy')
      |&nbsp;&middot;&nbsp;
      = link_to 'Terms', pages_path('terms')
