.top-bar
  .top-bar-left
    ul.dropdown.menu[data-dropdown-menu]
      li.menu-text FI Tracker
      li = link_to "Dashboard", dashboard_path
      li = link_to "Net Worth", financial_accounts_path
      li = link_to "Passive Income", income_sources_path
  .top-bar-right
    ul.menu
      - if user_signed_in?
        li = link_to "Profile", settings_path
        li = link_to 'Account', edit_user_registration_path
        li = link_to 'Sign Out',
          destroy_user_session_path,
          method: 'delete'
      - else
        li = link_to 'Sign In',
          new_user_session_path
