#progress-container
  .row
    .small-12.large-4.columns
      h4.spacer-top-6 = title
    .small-12.large-8.columns
      .bar.spacer-top-6
        .progress.width-100[style="width: #{progress}%"]
      = "#{numerator} of #{denominator}"
