p Invite your spouse to update their account balances to see your cumulative net worth.

= simple_form_for(@user_invite) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email

  .form-actions
    = f.button :submit, value: "Invite Household Member"
