- if user_invites.present?
  h5 Invited Members
  ul
    - user_invites.each do |user_invite|
      li
        = user_invite.email
        |&nbsp;
        = link_to 'resend',
          resend_user_invite_path(user_invite),
          method: :put
        = " | "
        = link_to 'delete',
          user_invite_path(user_invite),
          data: {confirm: t("helpers.delete_confirm")},
          method: :delete
