.row
  .columns.small-12.large-4
    h1.strong Profile

.row
  .columns.small-12.large-4
    h3.spacer-top-10.spacer-bottom-5 Financial Profile
    = render "households/form"

    h3.spacer-top-5.spacer-bottom-5 Goals
    = render "goals/form", goal: current_user.household.goal

    h3.spacer-top-10.spacer-bottom-5 Settings
    = render "user_settings/form"

  .columns.small-12.large-4
    h3 Household Members
    = render "household_users"

    = render "user_invites/index", user_invites: @user_invites
    = render "user_invites/form", user_invite: @new_user_invite
