- if @balance.persisted?
  - path = financial_account_balance_path(@financial_account, @balance)
- else
  - path = financial_account_balances_path(@financial_account)
= simple_form_for @balance, url: path do |f|
  - if @balance.errors.any?
    #error_explanation
      h2 = "#{pluralize(@balance.errors.count, "error")} prohibited this balance from being saved:"
      ul
        - @balance.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :amount
    = f.text_field :amount, class: "currency"
  .field
    = f.label :recorded_on
    = f.date_field :recorded_on

  .actions = f.submit "Update", class: "button"
