h1 Listing balances

table
  thead
    tr
      th Amount cents
      th Financial account
      th
      th
      th

  tbody
    - @balances.each do |balance|
      tr
        td = balance.amount_cents
        td = balance.financial_account_id
        td = link_to 'Show', balance
        td = link_to 'Edit', edit_balance_path(balance)
        td = link_to 'Destroy', balance, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Balance', new_balance_path
