p
  strong Balance for
  = link_to @balance.financial_account.name, @balance.financial_account

p
  strong Amount:
  = @balance.amount
p
  strong Recorded on:
  = @balance.recorded_on

= link_to 'Edit', edit_balance_path(@balance)
