.row
  .small-12.columns
    h3 Welcome! Let's Get You Setup
    p
      |You seem new here. You will first want to enter all financial accounts
      |&nbsp;that you have so you can.
    p
      |The goal is to keep track of all your financial balances every month
      |&nbsp;to watch your net worth grow. Over time you will be given insights
      |&nbsp;and trends about your habits.

.row
  .small-12.large-6.columns
    - if current_household.financial_accounts.blank?
      h4.strong.spacer-top-5 Create a Financial Account
      = render 'financial_accounts/form', balance: true

    - if current_household.goal.net_worth_cents == 10000000 &&\
      current_household.goal.passive_income_cents == 1000000
      h4.strong.spacer-top-10 Customize Your Goals
      = render "goals/form", goal: current_user.household.goal
