.row
  .columns.small-12
    h2.bold Dashboard

.row
  .columns.small-8
    - if current_household.financial_accounts.empty?
      = render 'pages/onboarding'
    - else
      h4.bold Your Net Worth
      h3 = @household_net_worths.net_worth_to_human
      p.medium-grey
        |Not high enough? Get saving or&nbsp;
        = link_to "add more accounts.", financial_accounts_path

      .spacer-top-5
      h4.bold Out-of-date Balances
      - if NonCurrentBalanceFinder.new(current_user).run.present?
        ul
        - NonCurrentBalanceFinder.new(current_user).run.each do |financial_account|
          li = link_to financial_account.name, financial_account_path(financial_account)

        p.medium-grey.spacer-top-5
          |These accounts have balances that were last updated more than
          |&nbsp;30 days ago.
      - else
        p Great! All your accounts have current balances.
  .columns.small-4
    .side-box
      .box-header Financial Overview
      .box-content
        p
          strong Cash:&nbsp;
          span = humanized_money_with_symbol @current_household.amount_in_cash

        p
          strong Retirement:&nbsp;
          span = humanized_money_with_symbol @current_household.amount_in_retirement

        p.spacer-bottom-0
          strong Debt:&nbsp;
          span = humanized_money_with_symbol @current_household.amount_in_debt

    - if @current_household.active_financial_accounts.any? && @net_worth.balances.size > 1
      .side-box.spacer-top-5
        .box-header Insights
        .box-content
          p.lead
            |Your net worth increases&nbsp;
            strong = @net_worth.average_increase_to_human
            |&nbsp;/ month on average.

          - if current_household.annual_income_cents > 0
            p.lead
              |Your savings rate is around&nbsp;
              strong = "#{number_to_percentage(@net_worth.savings_rate, precision: 0)}"
              |.

            - if @net_worth.savings_rate > 100.0
              p.error
                |Your savings rate is greater than 100%. You either had a large windfall
                |&nbsp;or your income and amount of savings need adjusting.
