.row
  .columns.small-12
    ul.inline.text-right
      - if user_signed_in?
        li = link_to 'Back to app', dashboard_path
      - else
        li.spacer-right-5 = link_to 'Log In', new_user_session_path
        li = link_to 'Sign Up', new_user_registration_path

.row
  .columns.small-12
    h1.text-center.bold FI Tracker

    h2.text-center.bold.italic.spacer-top-15 Making saving fun!

.row.spacer-top-20.spacer-bottom-20
  .columns.small-4.text-center
    = embedded_svg "progress_meter"
    h3.bold.spacer-top-7 Net Worth
    p Watch your net worth grow every month with encouragement.

  .columns.small-4.text-center
    = embedded_svg "bar_chart"
    h3.bold.spacer-top-7 Early Retirement
    p Monitor progress to the 4% rule for early retirement.

  .columns.small-4.text-center
    = embedded_svg "mailbox_money"
    h3.bold.spacer-top-7 Passive Income
    p Track your passive income sources.
