= simple_form_for(@user_setting) do |f|
  = f.error_notification

  .form-inputs
    = f.input :monthly_notification_enabled
    p.help-text
      |You will receive a notification when your account balances need updating.
      |&nbsp;Please try to update them all at the same time to avoid more frequent notifications.

  .form-actions
    = f.button :submit, "Update"
