.row
  .small-12
    nav[aria-label="You are here:" role="navigation"]
      ul[class="breadcrumbs"]
        li = link_to "Home", root_path
        li = link_to "Passive Income", income_sources_path
        li = link_to @income_source.name, @income_source
        li
          span.show-for-sr Current:
          |Edit

    h1
      |Edit&nbsp;
      = @income_source.name

    == render 'form'
