.row
  .small-12.columns
    nav[aria-label="You are here:" role="navigation"]
      ul[class="breadcrumbs"]
        li = link_to "Home", root_path
        li
          span.show-for-sr Current:
          |Passive Income

    h1.strong Passive Income

    = link_to 'Create Income Source',
      new_income_source_path,
      class: 'button'

    - if @income_sources.any?
      table
        thead
          tr
            th Source
            th Monthly Income
            th
            th

        tbody
          - @income_sources.each do |income_source|
            tr
              td = income_source.name
              td = income_source.amount_to_human
              td = link_to 'Edit', edit_income_source_path(income_source)
              td = link_to 'Delete', income_source, data: { confirm: 'Are you sure?' }, method: :delete
    - else
      = render "shared/blank_slate", copy: "You have no passive income sources. Keep trying!"

= render "shared/progress_bar",
  title: "Passive Income",
  progress: @household_income_sources.progress_rounded,
  numerator: @household_income_sources.passive_income_to_human,
  denominator: @household_income_sources.goal_to_human
