.row
  .small-12
    nav[aria-label="You are here:" role="navigation"]
      ul[class="breadcrumbs"]
        li = link_to "Home", root_path
        li = link_to "Passive Income", income_sources_path
        li
          span.show-for-sr Current:
          = @income_source.name

    p
      strong Name:
      = @income_source.name
    p
      strong Monthly amount cents:
      = @income_source.monthly_amount_cents

    = link_to 'Edit', edit_income_source_path(@income_source)
    '|
    = link_to 'Back', income_sources_path
