h5.strong Balance History

svg.chart#balance_history

javascript:
  $(function() {
    // Set the dimensions of the canvas / graph
    var margin = {top: 0, right: 0, bottom: 0, left: 0},
        width = 370 - margin.left - margin.right,
        height = 200 - margin.top - margin.bottom;

    // Parse the date / time
    var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

    // Set the ranges
    // var x = d3.time.scale().range([0, width]);
    var x = d3.scale.linear().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);

    // Define the axis
    var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(5);
    var yAxis = d3.svg.axis().scale(y).orient("left").ticks(5);

    // Define the line
    var valueline = d3.svg.line()
      .interpolate("monotone")
      .x(function(d) { return x(d.created_at); })
      .y(function(d) { return y(d.amount_cents / 100); });

    // Adds the svg canvas
    var svg = d3.select("#balance_history")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var borderPath = svg.append("rect")
      .attr("x", 0)
      .attr("y", 0)
      .attr("height", height)
      .attr("width", width)
      .style("stroke", "#ccc")
      .style("fill", "none")
      .style("stroke-width", "1px");

    // Get the data
    d3.json(`${window.location.pathname}/balances.json`, function(error, data) {

      data.forEach(function(d, index) {
        // d.id = parseDate(d.id);
        d.created_at = index;
        d.amount_cents = d.amount_cents;
      });

      // Scale the range of the data
      x.domain(d3.extent(data, function(d) { return d.created_at; }));
      y.domain([
          d3.min(data, function(d) { return (d.amount_cents / 100); }),
          d3.max(data, function(d) { return (d.amount_cents / 100); })
      ]);

      // Add the valueline path.
      svg.append("path")
        .attr("class", "line")
        .attr("d", valueline(data));

      svg.selectAll('circle').
        data(data).
        enter().
        append('circle').
          attr('cx', function (d) { return x(d.created_at); }).
          attr('cy', function (d) { return y(d.amount_cents / 100); }).
          attr('r', 3);

      // Add the X Axis
      // svg.append("g")
      //   .attr("class", "x axis")
      //   .attr("transform", "translate(0," + height + ")")
      //   .call(xAxis);

      // Add the Y Axis
      // svg.append("g")
      //   .attr("class", "y axis")
      //   .call(yAxis);

    });
  })
