- balance ||= false

= form_for @financial_account,
  url: @financial_account.form_path do |f|
  - if @financial_account.errors.any?
    #error_explanation
      h2 = "#{pluralize(@financial_account.errors.count, "error")} prohibited this financial_account from being saved:"
      ul
        - @financial_account.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :subtype, 'Type'
    = f.select :subtype,
      grouped_options_for_select(financial_accounts_for_select, @financial_account.subtype),
      {include_blank: true}

  .field
    = f.label :name
    = f.text_field :name

  - if balance
    = f.simple_fields_for :balances do |balance|
      = balance.input :amount

  .actions = f.button "Submit", class: "button"
