h3.spacer-top-10 History
table
  thead
    tr
      th Month
      th Net Worth

  tbody
    - @net_worth.net_worths.last(12).reverse.each do |balance|
      tr
        td = balance.month.strftime("%B %Y")
        td = humanized_money_with_symbol balance.amount
