.row
  .small-12.large-4
    nav[aria-label="You are here:" role="navigation"]
      ul[class="breadcrumbs"]
        li = link_to "Home", root_path
        li = link_to "Net Worth", financial_accounts_path
        li = link_to @financial_account.name, @financial_account
        li
          span.show-for-sr Current:
          |Edit
    h1 = "Editing #{@financial_account.name}"
    == render 'form'
