.row
  .columns.small-12
    nav[aria-label="You are here:" role="navigation"]
      ul[class="breadcrumbs"]
        li = link_to "Home", root_path
        li
          span.show-for-sr Current:
          |Net Worth

    h1.strong Net Worth

    - if @financial_accounts.any?
      = render "shared/chart"

.row.spacer-top-10
  .columns.small-12.large-9
    h3 Accounts

    - if @financial_accounts.any?
      table.financial_accounts
        thead
          tr
            th Name
            th Type
            th Balance
            th Balance Last Updated

        tbody
          - @financial_accounts.each do |financial_account|
            tr[class="#{financial_account.has_current_balance_css_class}"]
              td
                = link_to financial_account.name,
                  financial_account_path(financial_account)
              td = financial_account.type
              td = financial_account.notated_balance
              td
                span[title=l(financial_account.balance.recorded_on, format: :minimal)]
                  = financial_account.last_updated
                |&nbsp;
                span.notice = financial_account.balance_update_notice
    - else
      = render "shared/blank_slate", copy: "You haven't added any accounts. Add some to the right 👉"

    = render "financial_accounts/net_worth_history"

  .columns.small-12.large-3
    .side-box
      .box-header
        |Add Account
      .box-content
        p
          |Create your financial accounts such as checking, savings, and retirement.
          |&nbsp;Keep the balances updated once per month to track your progress.
        = link_to 'Create Account', new_financial_account_path,
          class: "button spacer-bottom-0"

= render "shared/progress_bar",
  title: "Financial Independence",
  progress: @household_net_worths.progress_rounded,
  numerator: @household_net_worths.net_worth_to_human,
  denominator: @household_net_worths.goal_to_human
