.row
  .small-12.large-6
    h1 New Financial Account
    p Add bank accounts or loans to track your net worth.
.row
  .small-12.large-4
    == render 'financial_accounts/form', balance: true

    = link_to 'Back', financial_accounts_path
