= content_for :head
  = javascript_include_tag *webpack_asset_paths("react")

.row
  .column.small-12
    nav[aria-label="You are here:" role="navigation"]
      ul[class="breadcrumbs"]
        li = link_to "Home", root_path
        li = link_to "Net Worth", financial_accounts_path
        li
          span.show-for-sr Current:
          = @financial_account.name

    h1.bold = @financial_account.name

.row.spacer-top-6
  .column.small-12.large-8
    = react_component 'BalanceIndex',
      api_auth_token: current_user.authentication_token_string,
      financial_account_resource_url: api_v1_financial_account_url(\
        @financial_account.uuid, include: "balances"\
      ),
      balances_resource_url: api_v1_balances_url,
      financial_account: @financial_account

  .column.small-12.large-4
    = render 'financial_accounts/balance_graph'

    .side-box.spacer-top-10
      .box-header
        |Account Details
      .box-content
        p
          |Current Balance:&nbsp;
          = @financial_account.notated_balance
        p
          |Account Type:&nbsp;
          = @financial_account.subtype_to_human
        br

        = link_to 'Edit Account', edit_financial_account_path(@financial_account), class: "button"
        |&nbsp;
        = link_to 'Delete Account',
          financial_account_path(@financial_account),
          data: { confirm: 'Are you sure?' },
          method: :delete,
          class: "button alert"

    .side-box.spacer-top-10
      .box-header Update Balance
      .box-content
        = render "balances/form"

    .side-box.spacer-top-10
      .box-header Account Owners
      .box-content
        = render "owners"
