= form_for goal do |f|
  - if goal.errors.any?
    #error_explanation
      h2 = "#{pluralize(goal.errors.count, "error")} prohibited this goal from being saved:"
      ul
        - goal.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :net_worth_goal
    = f.text_field :net_worth, class: "currency"
    p.help-text Amount that can enble you to quit your job and live off of 4% yearly.

  .field
    = f.label :passive_income_goal
    = f.text_field :passive_income, class: "currency"
    p.help-text Amount you wish to earn passively to replace your job.
  .actions = f.submit "Update", class: "button"
