p#notice = notice

p
  strong Net Worth:&nbsp;
  = money_without_cents_and_with_symbol @goal.net_worth
p
  strong Passive income:&nbsp;
  = money_without_cents_and_with_symbol @goal.passive_income

= link_to 'Edit', edit_goal_path(@goal)
'|
= link_to 'Back', goals_path
