= select_tag :user, options_for_select(@financial_account.users_to_add_for_select(current_user))
/
/ = simple_form_for @financial_account.users.new,
/   url: financial_account_financial_account_users_path(@financial_account) do |f|
/   = f.error_notification
/
/   .form-inputs
/     = f.select :user_id, options_for_select(@financial_account.users_to_add_for_select)
/
/   .form-actions
/     = f.button :submit, value: "Add"
