@import "variables";

body {
  background-color: #fff;
  color: #333;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: $progress-bar-height;
}

.top-bar {
  background-color: $green;
  color: white;

  ul {
    background-color: $green;
    color: white;
  }

  ul a { color: white; }
}

header {
  background-color: $green;
}

ul.unstyled {
  li {
    list-style: none;
  }
}

ul.inline {
  li {
    display: inline-block;
  }
}

.width-100 {
  width: 100%;
}

.blank-slate-container {
  background: #ccc;
  border: $base-border-width solid #555;
  padding: 50px;
}

.app-content {
  padding-bottom: 150px;
}

footer.app-footer {
  margin-top: 50px;

  a {
    color: #ccc;
  }
}

// Display
.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }
.hidden { display: none; }
