svg.chart {
  path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  circle {
    stroke: steelblue;
    fill: steelblue;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
}
