@import "variables";

#progress-container {
  background: $green;
  border-top: $base-border-width solid $dark-green;
  bottom: 0;
  color: white;
  height: $progress-bar-height;
  position: fixed;
  width: 100%;

  .bar {
    background: white;
    width: 100%;

    .progress {
      background-color: lighten($green, 30);
    }
  }
}
