$base-spacer: 5px;

.spacer-bottom-0 { margin-bottom: 0; }
.spacer-bottom-1 { margin-bottom: $base-spacer * 1; }
.spacer-bottom-2 { margin-bottom: $base-spacer * 2; }
.spacer-bottom-3 { margin-bottom: $base-spacer * 3; }
.spacer-bottom-4 { margin-bottom: $base-spacer * 4; }
.spacer-bottom-5 { margin-bottom: $base-spacer * 5; }
.spacer-bottom-6 { margin-bottom: $base-spacer * 6; }
.spacer-bottom-7 { margin-bottom: $base-spacer * 7; }
.spacer-bottom-8 { margin-bottom: $base-spacer * 8; }
.spacer-bottom-9 { margin-bottom: $base-spacer * 9; }
.spacer-bottom-10 { margin-bottom: $base-spacer * 10; }
.spacer-bottom-15 { margin-bottom: $base-spacer * 15; }
.spacer-bottom-20 { margin-bottom: $base-spacer * 20; }

.spacer-left-0 { margin-left: 0; }
.spacer-left-1 { margin-left: $base-spacer * 1; }
.spacer-left-2 { margin-left: $base-spacer * 2; }
.spacer-left-3 { margin-left: $base-spacer * 3; }
.spacer-left-4 { margin-left: $base-spacer * 4; }
.spacer-left-5 { margin-left: $base-spacer * 5; }
.spacer-left-6 { margin-left: $base-spacer * 6; }
.spacer-left-7 { margin-left: $base-spacer * 7; }
.spacer-left-8 { margin-left: $base-spacer * 8; }
.spacer-left-9 { margin-left: $base-spacer * 9; }
.spacer-left-10 { margin-left: $base-spacer * 10; }

.spacer-right-0 { margin-right: 0; }
.spacer-right-1 { margin-right: $base-spacer * 1; }
.spacer-right-2 { margin-right: $base-spacer * 2; }
.spacer-right-3 { margin-right: $base-spacer * 3; }
.spacer-right-4 { margin-right: $base-spacer * 4; }
.spacer-right-5 { margin-right: $base-spacer * 5; }
.spacer-right-6 { margin-right: $base-spacer * 6; }
.spacer-right-7 { margin-right: $base-spacer * 7; }
.spacer-right-8 { margin-right: $base-spacer * 8; }
.spacer-right-9 { margin-right: $base-spacer * 9; }
.spacer-right-10 { margin-right: $base-spacer * 10; }

.spacer-top-0 { margin-top: 0; }
.spacer-top-1 { margin-top: $base-spacer * 1; }
.spacer-top-2 { margin-top: $base-spacer * 2; }
.spacer-top-3 { margin-top: $base-spacer * 3; }
.spacer-top-4 { margin-top: $base-spacer * 4; }
.spacer-top-5 { margin-top: $base-spacer * 5; }
.spacer-top-6 { margin-top: $base-spacer * 6; }
.spacer-top-7 { margin-top: $base-spacer * 7; }
.spacer-top-8 { margin-top: $base-spacer * 8; }
.spacer-top-9 { margin-top: $base-spacer * 9; }
.spacer-top-10 { margin-top: $base-spacer * 10; }
.spacer-top-15 { margin-top: $base-spacer * 15; }
.spacer-top-20 { margin-top: $base-spacer * 20; }
