a, a:visited, a:active, a:hover {}

.text-center { text-align: center; }
.text-right { text-align: right; }

// Colors
.grey { color: #777; }
.medium-grey { color: #999; }
.light-grey { color: #ccc; }
.error { color: red; }

// Weight
.bold { font-weight: bold; }
.strong { font-weight: 600; }

// Style
.italic { font-style: italic; }

.help-text { color: #666; }
