// Colors
$green: #00c900;
$red: red;
$dark-green: darken($green, 10);
$base-border-color: #555;
$warning: lighten(red, 30);

// Borders
$base-border-width: 1px;
$base-border: $base-border-width solid $base-border-color;
$light-border: $base-border-width solid #ccc;

// Typography
$base-font-size: 15px;

// Misc
$progress-bar-height: 100px;
