doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    title == content_for?(:title) ? yield(:title) : ENV['APP_NAME']

    link[href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet"]
    = stylesheet_link_tag "application"
    = yield :head
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  body
    = render "shared/nav"
    .row
      .columns.small-12.spacer-top-5
        - if notice.present?
          div.callout.secondary.notice = notice
        - if alert.present?
          div.callout.alert = alert

    .app-content
      == yield

      = render "shared/footer"
