= simple_form_for(current_household) do |f|
  = f.error_notification

  .form-inputs
    = f.label :annual_income
    = f.text_field :annual_income, class: 'currency'
    p.help-text Your gross monthly income helps to determine your savings rate.

  .form-actions
    = f.button :submit, "Update"
